{% extends "layout.html" %}

{% block title %} - Rank{% endblock %}

{% block css %}
<style>
.centered {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
}

.selected_item {
  border-style: solid;
  border-width: 10px;
  border-color: green;
  text-color: green;
  opacity: 0.6;
}

.img-contraint {
  width: 80%;
  max-width: 600px;
  height: 80%; 
  max-height: 600px;
  min-width:300px;
  min-height:300px;
}

.control-block {
  display: inline-block;
  width: 32%;
}

.fix-control-mobile {
  position: fixed;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 1030;
  height: 50px;
}

</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <form method = "POST">
    <input type="hidden" id="selected_item_id" name="selected_item_id" value="">
    <input type="hidden" id="comparison_id" name="comparison_id" value="{% if comparison_id %}{{comparison_id}}{% else %}""{% endif %}">
    <div class="form-group">
      <div class="text-center">
           <!-- only desktop -->
          <h3 class="d-none d-md-block d-lg-block d-xl-block">{{comparison_intruction_label}}</h3>
          <!-- only mobile -->
          <h5 class="d-block d-md-none d-lg-none d-xl-none">{{comparison_intruction_label}}</h5>
      </div>
      <div class="row pl-2 pr-2">
        <div class="col p-2">
          <div class="text-center">
            <h4>
              <b>{{ item_1.display_name }}</b>
            </h4>
          </div>
          <div class="text-center">
            <input type="hidden" id="item_1_id" name="item_1_id" value={{ item_1.id }}>
            <img id="left-image" data-item_id={{ item_1.id }} src= {{ url_for('static', filename = 'image/' + item_1.image_path|string) }} class="img-responsive img-contraint">
          </div>
        </div>
        <div class="col p-2">
          <div class="text-center">
            <h4>
              <b>{{ item_2.display_name }}</b>
            </h4>
          </div>
          <div class="text-center">
            <input type="hidden" id="item_2_id" name="item_2_id" value={{ item_2.id }}>
            <img id="right-image" data-item_id={{ item_2.id }} src= {{ url_for('static', filename = 'image/' + item_2.image_path|string) }} class="img-responsive img-contraint">
          </div>
          </div>
      </div>
      <!-- only desktop -->
      <div class="d-none d-md-block d-lg-block d-xl-block row pl-2 pr-2">
        <div class="control-block col p-2 text-left">
          <button id="previous-button" type="submit" name='state' value='{{rejudge_value}}' style="width:200px" class="btn btn-lg btn-secondary {% if can_redjudge %}{% else %}disabled{% endif %}" {% if can_redjudge %}{% else %}disabled{% endif %}>{{rejudge_label}}</button>
        </div>
        <div class="control-block col p-2 text-center">
          <button id="confirm-button-d" type="submit" name='state' value='{{compared_value}}' style="width:200px" class="btn btn-lg btn-primary disabled" disabled>{{compared_label}}</button>
        </div>
        <div class="control-block col p-2 text-right">
          <button id="skip-button" type="submit" name='state' value='{{skipped_value}}' style="width:200px" class="btn btn-lg btn-secondary">{{skipped_label}}</button>
        </div>
      </div>
      <!-- only mobile -->
      <div class="d-block d-md-none d-lg-none d-xl-none row pl-2 pr-2 fix-control-mobile">
        <div class="control-block col p-2 text-left">
          <button id="previous-button" type="submit" name='state' value='{{rejudge_value}}' style="min-width:100px" class="btn btn-lg btn-secondary {% if can_redjudge %}{% else %}disabled{% endif %}" {% if can_redjudge %}{% else %}disabled{% endif %}>{{rejudge_label}}</button>
        </div>
        <div class="control-block col p-2 text-center">
          <button id="confirm-button-m" type="submit" name='state' value='{{compared_value}}' style="min-width:100px" class="btn btn-lg btn-primary disabled" disabled>{{compared_label}}</button>
        </div>
        <div class="control-block col p-2 text-right">
          <button id="skip-button" type="submit" name='state' value='{{skipped_value}}' style="min-width:100px" class="btn btn-lg btn-secondary">{{skipped_label}}</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block js %}
<script>

function rank_selected(selected_image) {
  // Show the image item as selected
  $("img").removeClass('selected_item');
  $(".centered").remove();
  selected_image.addClass('selected_item');
  selected_image.after('<div class="centered"><h1 style="font-size:60px; color:green; font-weight: bold;">{{selected_item_label}}</h1></div>')

  // Show the confirm button as active
  $("#confirm-button-m").prop('disabled', false);
  $("#confirm-button-m").removeClass('disabled');
  $("#confirm-button-d").prop('disabled', false);
  $("#confirm-button-d").removeClass('disabled');

  // Set the selected item
  selected_id = selected_image.data('item_id')
  document.getElementById("selected_item_id").value = selected_id;
  console.log('Selected item id: ' + selected_id)
}

$("img").click(function() {
	rank_selected($(this));
});


 </script>
{% endblock %}
