{% extends "layout.html" %}
{% block css %}
<style>
.fix-submit-mobile {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  height: 50px;
}
</style>
{% endblock %}
{% block content %}
<div style="margin: 0 auto; max-width:500px;">
    <div class="text-center"><h1>{{title}}</h1></div>
    <br/>
    <form method = "POST">
    <div class="form-group p-3">
    {% for component in components %}
      {{component|safe}}
    {% endfor %}
     <!-- only desktop -->
    <div class="d-none d-md-block d-lg-block d-xl-block col-xl-12 p-1 text-center">
      <button type="submit" class="btn btn-primary text-center submit">{{buttom}}</button>
    </div>
    <!-- only mobile -->
    <div class="d-block d-md-none d-lg-none d-xl-none col-xl-12 text-center">
      <button type="submit" class="btn btn-primary text-center submit fix-submit-mobile">{{buttom}}</button>
    </div>
    </form>
</div>
{% endblock %}
{% block footer %}{% endblock %}